body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #292929;
    position: relative;
    min-height: 100vh;
    background-color: #f6faff;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 100%;
}


.nav-link {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    color: #3461fd;
}

.navbar-brand {
    color: #3461fd;
}

.homepage-header {
    padding: 250px 0 60px 0;
}

.hier-intro {
    padding: 50px 0 60px 0;
    text-align: center;
}

hr {
    margin: 20px 0 32px 0 !important;
    color: #C3C9D4;
}

.hier-container {
    padding-bottom: 8rem;
}

/*Primary Typography*/
h1 {
    font-size: 2.441rem;
    padding-bottom: 0.279rem;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    padding-bottom: 0.667rem;
}

.homepage-header {
    font-size: 3.052rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

code {
    color: #8794AA;
    font-size: .875rem;
}



/*Black Ops One Typography*/
.blackopsone {
    font-family: 'Black Ops One', serif;;
    font-size: 17px;
    font-weight: 400;
}

.blackopsone h1 {
    font-size: 4.209em;
    font-weight: 300;
}

.blackopsone h2 {
    font-size: 3.157em;
    font-weight: 325;
}

.blackopsone h3 {
    font-size: 2.369em;
    font-weight: 550;
}

.blackopsone h4 {
    font-size: 1.777em;
    font-weight: 400;
    font-style: italic;
}

.blackopsone em {
    font-size: 1em;
    font-weight: 700;
}

.blackopsone a {
    font-size: 1em;
    font-weight: 550;
    color: #3461fd;
    text-decoration: underline;
    text-decoration-thickness: .12em;
    text-decoration-color: #3461fd;
}

.blackopsone a:hover {
    color: #3461fd;
    text-decoration: none;
}

.blackopsone .hover {
    font-weight: 550;
    color: #3461fd;
    text-decoration: none;
}

/*Philosopher Typography*/
.philosopher {
    font-family: "Philosopher", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.philosopher h1 {
    font-size: 4.209em;
    font-weight: 300;
}

.philosopher h2 {
    font-size: 3.157em;
    font-weight: 325;
}

.philosopher h3 {
    font-size: 2.369em;
    font-weight: 625;
}

.philosopher h4 {
    font-size: 1.777em;
    font-weight: 700;
    font-style: italic;
}

.philosopher em {
    font-size: 1em;
    font-weight: 725;
    font-style: normal;
}

.philosopher a {
    font-size: 1em;
    font-weight: 550;
    color: #3461fd;
    text-decoration: underline;
    text-decoration-thickness: .1em;
    text-decoration-color: #3461fd;
}

.philosopher a:hover {
    text-decoration-style: wavy;
}

.philosopher .hover {
    font-weight: 550;
    color: #3461fd;
    text-decoration: underline;
    text-decoration-thickness: .1em;
    text-decoration-color: #3461fd;
    text-decoration-style: wavy;
}

/*Amatic SC Typography*/
.amaticsc {
    font-family: 'Amatic SC', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.amaticsc h1 {
    font-size: 3.052em;
}

.amaticsc h2 {
    
    font-size: 2.441em;
}

.amaticsc h3 {
    
    font-size: 1.953em;
}

.amaticsc h4 {
    
    font-size: 1.563em;
    text-transform: uppercase;
    font-style: italic;
}

.amaticsc em {
    font-weight: 600;
    font-style: normal;
}

.amaticsc a {
    color: #3461fd;
    text-decoration: underline;
}

.amaticsc a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #3461fd;
}

.amaticsc .hover {
    text-decoration-style: none;
    color: #fff;
    background-color: #3461fd;
}

/* Footer */
footer {
    width: 100%;
    padding: 1.5rem 0 3rem 0;
    height: 5rem;
    bottom: 0;
    height: 3.6rem;
    text-align: center;
}

.footer-link {
    font-weight: 700;
    text-decoration: none;
}

.text-reset {
    --bs-text-opacity: 1;
    color: #3461fd !important;
}


.footer-link:hover {
    text-decoration: underline;
}


/* Specs Section */
.specs {
    padding-top: 20px;
}

@media (min-width: 992px) {
    .specs {
        padding-top: 0;
        display: flex;
        align-items: center;
    }
}
